<!-- <%- include('../includes/prove02-head.ejs') %>


</head>

<body>
    <main>
        <h1>Nothing there !</h1>
    </main>
<%- include('../includes/prove02-navigation.ejs') %>
<%- include('../includes/prove02-end.ejs') %> -->